---
dist: focal
language: python
python: "3.7"
os: linux
services:
  - docker
install:
  - pip install pipenv
  - pipenv sync
env:
  jobs:
    - MOLECULE_DISTRO=idealista/jdk:8u265-buster-adoptopenjdk-headless JAVA_JDK_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - MOLECULE_DISTRO=idealista/jdk:8u265-stretch-openjdk-headless JAVA_JDK_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - MOLECULE_DISTRO=idealista/jdk:11.0.6-stretch-openjdk-headless JAVA_JDK_HOME=/usr/lib/jvm/java-11-openjdk-amd64
    - MOLECULE_DISTRO=idealista/jdk:11.0.8-buster-adoptopenjdk-headless JAVA_JDK_HOME=/usr/lib/jvm/java-11-openjdk-amd64
script:
  - pipenv run molecule test --all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
