[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==5.10.0"
molecule = "==3.6.1"
docker = "==6.1.2"
jmespath = "==1.0.1"
molecule-docker = "==1.1.0"
ansible-lint = "==6.16.1"
yamllint = "==1.31.0"
ansible-compat = "==3.0.2"
requests = "<2.29"
urllib3 = "<2"

[requires]
python_version = "3"
